version: '3.4'

volumes:
  datafiles:

services:
  go-api.database:
    container_name: database
    image: mysql:8.0.25
    cap_add:
      - SYS_NICE
    ports:
      - "3306:3306"
    volumes:
      - datafiles:/var/lib/mysql
      - "./database/schema.sql:/docker-entrypoint-initdb.d/1.sql"
    restart: unless-stopped
    environment: 
      MYSQL_ROOT_PASSWORD: test
      DB_HOST: go-api.database
  go-api.api:
    container_name: api
    image: ${DOCKER_REGISTRY-}
    build:
        context: ..
        dockerfile: Dockerfile
    depends_on: 
        - go-api.database
    ports:
        - "80:8080"
    restart: unless-stopped
    environment: 
        - DBHOST=database